<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href="/globals.css" />
		<link rel="stylesheet" href="/main.css" />
		<title>My first component Edge</title>
	</head>
	<body>
		<h1>{{ "Feeds Tasks".toUpperCase()}}</h1>

		<table>
			<thead>
				<tr>
					<th>Title</th>
					<th>Label</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				@each(task in tasks)
					<tr>
						<td>{{task.title}}</td>
						<td>{{task.label}}</td>
						<td>{{task.status}}</td>
					</tr>
					@else
					<tr>
						<td colspan="3">No tasks found</td>
					</tr>
				@end
			</tbody>
		</table>
	</body>
</html>