*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	line-height: 1.5;
	font-weight: 400;
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-synthesis: none;

	text-wrap: balance;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	min-height: 100dvh;

	display: flex;
	flex-direction: column;
	padding: 5vh clamp(1rem, 5vw, 3rem) 1rem;

	color: #67697b;
}